.background-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-direction: column;
  background-image: url('./impatience.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 20;
}